BasedOnStyle : Google
AccessModifierOffset : -2
IndentCaseLabels : false
SpaceAfterCStyleCast : true
SpacesBeforeTrailingComments : 1
SpacesInAngles : true
SpaceBeforeParens : Never
ColumnLimit: 90
# PenaltyBreakBeforeFirstCallParameter: 100000

